div#tabAlmacenes h3 img {
    height: 50px;
    margin-right: 10px;
    margin-left: 25px;
}

div#tabAlmacenes div#almColumnas > div.col:nth-child(1) {
    max-width: 25%;
}

    div#tabAlmacenes div#almColumnas > div.col:nth-child(1) table tbody tr td:nth-child(3) {
        width: 10%;
    }

    div#tabAlmacenes div#almColumnas > div.col:nth-child(1) table tbody tr td:nth-child(4) {
        padding: 0;
        width: 10%;
    }

        div#tabAlmacenes div#almColumnas > div.col:nth-child(1) table tbody tr td:nth-child(4) img {
            height: 40px;
        }

div#tabAlmacenes div#almColumnas > div.col:nth-child(2) {
    border-left-style: solid;
    border-left-color: black;
    border-left-width: 5px;
}

div#tabAlmacenes div#almColumnas div#renderSlotsAlmacen {
    margin-left: 10px;
    margin-right: 0;
}

    div#tabAlmacenes div#almColumnas div#renderSlotsAlmacen div.card {
        max-width: 24%;
        margin: 1px;
    }

        div#tabAlmacenes div#almColumnas div#renderSlotsAlmacen div.card div.form-row div.col:nth-child(1) {
            max-width: 25%;
        }

            div#tabAlmacenes div#almColumnas div#renderSlotsAlmacen div.card div.form-row div.col:nth-child(1) img {
                max-height: 50px;
                margin-top: 40%;
            }

        div#tabAlmacenes div#almColumnas div#renderSlotsAlmacen div.card h5 {
            color: black;
        }

div#tabAlmacenes div#almacenModal div#tipoAlmacenModal {
    padding-top: 10px;
    padding-bottom: 10px;
}

    div#tabAlmacenes div#almacenModal div#tipoAlmacenModal div.col:nth-child(1) {
        max-width: 15%;
    }

    div#tabAlmacenes div#almacenModal div#tipoAlmacenModal div.col:nth-child(3) {
        max-width: 15%;
    }

    div#tabAlmacenes div#almacenModal div#tipoAlmacenModal img {
        height: 50px;
    }

/* ALMACEN NOTIFICACIONES */

div#tabAlmacenes div#almNotificacionesModal div.localizador img {
    margin-left: 1%;
    height: 40px;
    background-color: #17a2b8;
    padding: 2px;
    border-radius: .25rem;
}

div#tabAlmacenes div#almNotificacionesModal div.localizador input[type="number"] {
    max-width: 20%;
    margin-left: 1%;
    display: inline-block;
}

div#tabAlmacenes div#almNotificacionesModal div.localizador input[type="text"] {
    max-width: 60%;
    margin-left: 1%;
    display: inline-block;
}

div#tabAlmacenes div#almNotificacionesModal div.form-row div.col:nth-child(2) {
    max-width: 33%;
}

div#tabAlmacenes div#almNotificacionesModal div.form-row div.col:nth-child(3) {
    max-width: 10%;
}

div#tabAlmacenes div#almNotificacionesModal div.form-row div.col:nth-child(4) {
    max-width: 12%;
}

div#tabAlmacenes div#almNotificacionesModal div.form-row div.col:nth-child(5) {
    max-width: 8%;
    padding-top: 30px;
}

div#tabAlmacenes div#almNotificacionesModal table tbody tr td:nth-child(6) {
    width: 5%;
    padding: 0;
}

    div#tabAlmacenes div#almNotificacionesModal table tbody tr td:nth-child(6) img {
        height: 40px;
    }

/* ALMACEN AE2 */

div#tabAlmacenes div#almStorageCells table tbody tr td:nth-child(2) {
    padding: 0;
}

    div#tabAlmacenes div#almStorageCells table tbody tr td:nth-child(2) img {
        height: 40px;
    }

div#tabAlmacenes div#almStorageCells table tbody tr td:nth-child(5) {
    padding: 0;
}
