/* ARTICULOS MENU */

div#tabArticulos div.busqueda {
    max-width: 25%;
    margin-left: 70%;
    margin-bottom: 20px;
}

div#tabArticulos h3 img {
    height: 50px;
    margin-right: 10px;
    margin-left: 25px;
}

div#tabArticulos table#tableTabArticulos tbody#renderArticulos tr th:nth-child(1) {
    width: 5%;
}

div#tabArticulos table#tableTabArticulos tbody#renderArticulos tr td:nth-child(2) {
    width: 2.5%;
}

    div#tabArticulos table#tableTabArticulos tbody#renderArticulos tr td:nth-child(2) img {
        max-height: 32px;
    }

div#tabArticulos table#tableTabArticulos tbody#renderArticulos tr td:nth-child(3) {
    width: 67.5%;
}

div#tabArticulos table#tableTabArticulos tbody#renderArticulos tr td:nth-child(4) {
    width: 20%;
}

div#tabArticulos table#tableTabArticulos tbody#renderArticulos tr td:nth-child(5) {
    width: 5%;
}

/* ARTICULO MODAL */

div#addArticuloModal div.form-row div.col:nth-child(3) {
    max-width: 10%;
}

div#editArticuloModal div#editArtMainForm div#editArtDetails div.form-row div.col:nth-child(3) {
    max-width: 10%;
}

div#editArticuloModal div#editArtMainForm > div.col:nth-child(1) {
    max-width: 15%;
}

    div#editArticuloModal div#editArtMainForm > div.col:nth-child(1) img {
        width: 100%;
    }

div#editArticuloModal div#editArtMainForm div.col:nth-child(1) button {
    margin-top: 10%;
}

    div#editArticuloModal div#editArtMainForm div.col:nth-child(1) button.btn-danger {
        margin-right: 5%;
    }

div#editArticuloModal textarea {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    height: 100px;
    margin-top: 5px;
}

div#editArticuloModal input#artImgFile {
    display: none;
}

/* CRAFTEOS */

div#recetasModal div#crafteosList table tbody tr td img {
    height: 40px;
}

div#recetasModal div#crafteosList table tbody tr td:nth-child(3) {
    padding-top: 5px;
    padding-bottom: 5px;
}

div#recetasModal div#crafteosList table tbody tr td:nth-child(6) {
    padding-top: 0;
    padding-bottom: 0;
}

div#recetasModal td.slot div {
    background-color: grey;
    height: 60px;
    width: 60px;
    border-width: 2px;
    border-style: solid;
}

    div#recetasModal td.slot div:hover {
        background-color: darkgray;
    }

    div#recetasModal td.slot div img {
        height: 55px;
        width: 55px;
    }

div#recetasModal td.slot input {
    width: 60px;
}

div#recetasModal div#creafteoPanel.form-row div.col:nth-child(1) {
    max-width: 33%;
}

div#recetasModal div#smeltingPanel.form-row div.col:nth-child(1) {
    max-width: 33%;
}

    div#recetasModal div#smeltingPanel.form-row div.col:nth-child(1) table {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
    }
