
div#mainScreen nav a.navbar-brand img.d-inline-block.align-top {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

div#mainScreen nav div#navbarNav ul li:nth-child(1) img {
    height: 25px;
    margin-right: 5px;
}

div#mainScreen nav div#navbarNav ul li:nth-child(2) img {
    height: 25px;
    margin-right: 5px;
}

div#mainScreen nav div#navbarNav ul li:nth-child(3) img {
    height: 25px;
    margin-right: 5px;
}

div#mainScreen nav div#navbarNav ul li:nth-child(4) img {
    height: 25px;
    margin-right: 5px;
}

div#mainScreen nav div#navbarNav ul li:nth-child(5) img {
    height: 25px;
    margin-right: 5px;
}

div#mainScreen nav div#navbarNav ul li:nth-child(6) img {
    height: 25px;
    margin-right: 5px;
}

div#mainScreen nav div#navbarNav ul li:nth-child(7) img {
    height: 40px;
    margin: -10px;
}

div#mainScreen nav div#navbarNav ul li:nth-child(8) img {
    height: 25px;
    margin-right: 5px;
}
